* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f4f4f5;
    color: #111827;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #ef4444;
    align-items: center;
    height: 70px;
    padding: 20px;
    color: #f4f4f5;
}

.top-left {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px;
    font-weight: 700;
    font-size: 18px;
}

.top-right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.symbol {
    font-size: 13px;
}

.main-section {
    display: flex;
    height: 100vh;
}

.options {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 10px;
    height: 100%;
    border-right: 2px solid #e5e7eb;
    padding-top: 10px;

}

.option-btn {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: #f4f4f5;



}

.option-btn:hover {
    background-color: #ef4444;
    color: #fff;
    cursor: pointer;
}

.middle-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 95px); /* Subtract header height */
    justify-content: space-evenly;
    padding: 20px;
}

.search-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e5e7eb;
    
}

.class-search {
    border: 1px solid #e5e7eb; /* Light gray */
    border-radius: 6px;
    height: 40px;
    padding: 8px 12px;
    font-size: 15px;


}

.main-btn {
    outline: none;
    border: none;
    height: 40px;
    background-color: #ef4444;
    border-radius: 6px;
    color: #fff;
}

.recommendation-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
        padding-bottom: 15px;

    border-bottom: 2px solid #e5e7eb;

}

.recommend-block {
    display: flex;
    gap: 15px;
}

.logo-recommend {
    background-color: #ef4444;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.settings-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 95px); /* Subtract header height */
    justify-content: space-evenly;
    padding: 20px;

}